<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @for(user of users ; track user.id; let i=$index){
        <tr>
            <th scope="row">{{user.id}}</th>
            <td>
                @if (editId === user.id) {
                <input class="form-control" [(ngModel)]="user.userName" >
                }@else{
                {{user.userName}}
                }
            </td>
            <td>
                @if (editId === user.id) {
                <input class="form-control" [(ngModel)]="user.email" >
                }@else{
                {{user.email}}
                }
            </td>
            <td [style.color]="user.role==='admin'? 'red' : 'blue' ">{{user.role}}</td>
            <td class="btn-actions">
                <button type="button" class="btn btn-primary">Voir Détails</button>
                @if (editId === user.id) {
                    <button type="button" class="btn btn-warning" (click)="save(user)" >Enregister</button>
                } @else  {
                <button type="button" class="btn btn-success" (click)="editId = user.id">Modifier</button>
                }
                <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">Supprimer</button>
            </td>
        </tr>
        }
        @empty {
            <tr>
                <td colspan="6">Aucun Utilisateur à afficher</td>
            </tr>
        }
    </tbody>
</table>