<section>
    <div class="container produit-detail-container">
        <div class="row">
            <div class="col-12 col-md-6">
                <img [src]="product.img" alt="Photo de {{product.name}}">
            </div>
            <div class="col-12 col-md-6">
                <h2>{{product.name}}</h2>
                <p>{{product.description}}</p>
                <p>Prix : {{product.price}} £</p>
                <button id="ajout-panier">Ajouter au panier</button>
            </div>

        </div>
    </div>
</section>