.categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.category-card {
    text-align: center;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 10px;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    overflow: hidden;  /*cacher tt ce qui dépasse de la boite de l'élément */
    width: 150px;
}